* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea {
	border: 0;
	background: none;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-thumb {
	background: #ffffff33;
	border-radius: 100px;
	border: 5px solid #110d0d;
}

::-webkit-scrollbar-track {
	background: #110d0d;
}

svg {
	display: block;
	width: 16px;
	height: auto;
	aspect-ratio: 1/1;
	path {
		fill: #aea2a2;
	}
}

body {
	background: #110d0d;
	color: #f2eff2;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.container {
	width: calc(100% - 32px);
	margin: 0 auto;
	max-width: 1368px;
}

header {
	height: 64px;
	position: sticky;
	top: 0;
	z-index: 99;
	box-shadow: 0 4px 8px 0 #00000024, 0 0 1px 0 #0000003d;
	background-color: #110d0d;
	.container {
		height: 100%;
		max-width: none;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.header__left {
	display: flex;
	align-items: center;
	gap: 28px;
}

.logo {
	width: 130px;
	aspect-ratio: 130/36;
	img {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.header__left__menu {
	background: #292626;
	border-radius: 16px;
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 32px;
	li {
		height: 100%;
		color: #aea2a2;
		font-size: 12px;
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 0 12px;
		border-radius: 16px;
		&:nth-child(1) {
			background: #503535;
			color: #fff;
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
}

.header__right {
	display: flex;
	align-items: center;
	gap: 8px;
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&:nth-child(1) {
			background: #5d7ce8;
			border-radius: 8px;
			box-shadow: 0 0 16px #433ca7, inset 0 1px 0 #fff6;
			color: #ffffff;
			font-size: 12px;
			font-weight: 700;
			gap: 4px;
			height: 28px;
			line-height: 1.6;
			padding: 0 8px;
			img {
				width: 24px;
				aspect-ratio: 1/1;
			}
		}
		&:nth-child(2) {
			width: 24px;
			aspect-ratio: 1/1;
			svg {
				width: 100%;
				path {
					fill: #aea2a2;
				}
			}
		}
		&:nth-child(3) {
			border-radius: 16px;
			box-shadow: inset 0 0 0 2px #503535;
			font-size: 12px;
			font-weight: 600;
			height: 32px;
			padding: 0 12px;
			color: #ffffff;
		}
		&:nth-child(4) {
			height: 32px;
			padding: 0 12px;
			background: #ffd780;
			border-radius: 16px;
			color: #111217;
			font-size: 12px;
			font-weight: 600;
			span {
				&:nth-child(2) {
					position: absolute;
					font-size: 8px;
					line-height: 1;
					padding: 2px 3px;
					color: #f3f4fd;
					border-radius: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 2px;
					background: #355be2;
					right: -5px;
					top: -5px;
					img {
						width: 10px;
						aspect-ratio: 1/1;
					}
				}
			}
		}
	}
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 64px;
	z-index: 99;
	background: #2e1a1a;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar__burger {
	width: 100%;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2e1a1a;
	box-shadow: 0 4px 8px 0 #00000024, 0 0 1px 0 #0000003d;
	svg {
		width: 24px;
		path {
			fill: #aea2a2;
		}
	}
}

.sidebar__menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px;
	gap: 4px;
	li {
		aspect-ratio: 1/1;
		width: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&:nth-child(1) {
			&:after {
				background: #492d2d;
				bottom: calc(8px * -1);
				content: "";
				height: 1px;
				position: absolute;
				width: 100%;
			}
		}
		&:nth-child(2) {
			margin-top: 12px;
			background: #492d2d;
			border-radius: 8px;
		}
		&:nth-child(6) {
			margin-top: 12px;
			&::before {
				background: #2d3045;
				top: calc(8px * -1);
				content: "";
				height: 1px;
				position: absolute;
				width: 100%;
			}
			svg {
				path {
					fill: #09e41f;
				}
			}
		}
		img {
			width: 40px;
			aspect-ratio: 1/1;
		}
		svg {
			width: 24px;
			path {
				//	fill: #a3a5ba;
			}
		}
	}
}

.wrap {
	padding-left: 64px;
}

.banner {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 161px 0 102px;
	text-align: center;
	margin: 16px auto 0 auto;
	overflow: hidden;
}

.banner__img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.banner__content {
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	p {
		&:nth-child(1) {
			font-size: 30px;
			font-weight: 600;
			line-height: 1.6;
			color: #ffffff;
			text-transform: uppercase;
		}
		&:nth-child(2) {
			font-size: 105px;
			font-weight: 900;
			line-height: 1.2;
			color: #f6da24;
		}
		&:nth-child(3) {
			margin-bottom: 24px;
			font-size: 30px;
			line-height: 1.4;
			color: #f6da24;
			font-weight: 600;
		}
	}
	a {
		animation: banner-button-pulse 1.9s infinite;
		text-transform: capitalize;
		border-radius: 1000px;
		background: #ffd780;
		color: #111217;
		display: flex;
		font-size: 14px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 12px 53px;
		span {
			&:nth-child(1) {
				font-weight: 700;
				font-size: 24px;
			}
			&:nth-child(2) {
				opacity: 0.8;
				text-transform: none;
			}
		}
	}
}

@keyframes banner-button-pulse {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.15);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

.welcomepack {
	background: linear-gradient(
			269.49deg,
			#110d0d 20.62%,
			rgba(6, 14, 42, 0) 69.67%
		),
		linear-gradient(-269.49deg, #110d0d 20.62%, rgba(6, 14, 42, 0) 69.67%),
		#2e1a1a;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 26px;
	padding: 8px 0;
	img {
		width: 25px;
		aspect-ratio: 1/1;
	}
}

.welcomepack__info {
	font-size: 10px;
	font-weight: 600;
	color: #aea2a2;
	text-transform: capitalize;
	text-align: center;
	p {
		&:nth-child(2) {
			font-size: 16px;
			font-weight: 700;
			color: #f3f4fd;
		}
	}
}

.top {
	margin-top: 16px;
}

.top__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 48px;
	img {
		width: 72px;
		height: 100px;
	}
}

.top__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
}

.top__card {
	position: relative;
	aspect-ratio: 448/192;
	padding: 12px;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 16px;
		object-fit: cover;
	}
}

.top__card__info {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	align-items: flex-start;
	max-width: 200px;
	p {
		&:nth-child(1) {
			background: #563e3e;
			border-radius: 6px;

			color: #ffffff;

			font-size: 12px;
			font-weight: 700;
			padding: 4px 8px;
		}
		&:nth-child(2) {
			color: #f6da24;
			font-size: 20px;
			font-weight: 900;
			display: flex;
			flex-direction: column;
			span {
				&:nth-child(2) {
					font-size: 14px;
					font-weight: 600;
				}
			}
		}
	}
	a {
		background-color: #ffd780;
		border-radius: 16px;

		color: #2e1a1a;
		font-size: 12px;
		font-weight: 600;
		display: flex;

		align-items: center;
		justify-content: center;
		padding: 8px 12px;
	}
}

.top__dots {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	margin: 8px auto 0;
	gap: 8px;
	span {
		background: #796464;
		border-radius: 5px;
		height: 4px;
		width: 30px;
		&:first-child {
			background: #fff;
		}
	}
}

.cards {
	display: flex;
	flex-direction: column;
	padding-top: 32px;
	gap: 32px;
}

.cards__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}

.cards__top__title {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;

	color: #f2eff2;
}

.cards__top__nav {
	display: flex;
	align-items: center;
	gap: 16px;
	p {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 24px;
		box-shadow: inset 0 0 0 2px #503535;
		color: #ffffff;
		gap: 8px;
		font-size: 16px;
		font-weight: 600;

		padding: 12px 20px;
		span {
			&:last-child {
				background: #563e3e;
				border-radius: 12px;
				font-size: 12px;
				font-weight: 700;
				color: #ffffff;
				height: 20px;
				padding: 0 4px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

.cards__top__arrows {
	display: flex;
	gap: 4px;
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #503535;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		svg {
			width: 20px;
		}
	}
}

.cards__list {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 16px;
}

.cards__list--2 {
	grid-template-columns: repeat(5, 1fr);
}

.cards__item {
	position: relative;
	aspect-ratio: 260/347;
	overflow: hidden;
	border-radius: 14px;
	&:nth-child(1) {
		p {
			background: linear-gradient(
				180deg,
				rgba(109, 0, 216, 0) 0%,
				#47008d 100%
			);
		}
	}

	&:nth-child(2) {
		p {
			background: linear-gradient(
				180deg,
				rgba(109, 0, 216, 0) 0%,
				#47008d 100%
			);
		}
	}
	&:nth-child(3) {
		p {
			background: linear-gradient(180deg, rgba(232, 0, 16, 0) 0%, #8f000a 100%);
		}
	}
	&:nth-child(4) {
		p {
			background: linear-gradient(
				180deg,
				rgba(0, 110, 221, 0) 0%,
				#004080 100%
			);
		}
	}
	&:nth-child(5) {
		p {
			background: linear-gradient(
				180deg,
				rgba(109, 0, 216, 0) 0%,
				#47008d 100%
			);
		}
	}
	&:nth-child(6) {
		p {
			background: linear-gradient(180deg, rgba(46, 235, 0, 0) 0%, #105200 100%);
		}
	}
	&:nth-child(7) {
		p {
			background: linear-gradient(180deg, rgba(46, 235, 0, 0) 0%, #105200 100%);
		}
	}
	&:nth-child(8) {
		p {
			background: linear-gradient(
				180deg,
				rgba(255, 168, 0, 0) 0%,
				#844700 100%
			);
		}
	}
	&:nth-child(9) {
		p {
			background: linear-gradient(180deg, rgba(232, 0, 16, 0) 0%, #8f000a 100%);
		}
	}
	&:nth-child(10) {
		p {
			background: linear-gradient(180deg, rgba(46, 235, 0, 0) 0%, #105200 100%);
		}
	}
	img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
	svg {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 24px;
		opacity: 0.8;
		path {
			fill: #fff;
		}
	}
	p {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 20px 8px 8px;
		gap: 4px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		span {
			&:nth-child(1) {
				text-transform: uppercase;
				color: #fff;
				line-height: 110%;
				font-weight: 700;
				font-size: 14px;
			}
			&:nth-child(2) {
				text-transform: uppercase;
				color: #fff;
				line-height: 110%;
				opacity: 0.7;
				font-weight: 700;
				font-size: 8px;
			}
		}
	}
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 40px 0px;
}

.content__item {
	h1,
	h2,
	h3,
	h4 {
		font-weight: 700;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 27px;
		margin-bottom: 10px;
	}
	h4 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	p,
	.content__table,
	ul,
	ol {
		margin-bottom: 20px;
	}
	ol,
	ul {
		padding-left: 50px;
		list-style: auto;
		display: flex;
		flex-direction: column;
		gap: 15px;
		p {
			margin-bottom: 15px;
		}
	}
	ul {
		list-style: disc;
	}

	h3,
	ol,
	p,
	.content__table,
	ul {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.faq {
		.faq__item {
			margin-bottom: 25px;
			p,
			ol,
			ul,
			.content__table {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			p {
				&:first-child {
					margin-bottom: 15px;
					font-size: 25px;
					font-weight: 900;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.content__table {
	table {
		border-collapse: collapse;
	}
	th,
	td {
		padding: 12px;
		border: 1px solid #f3f4fd;
		text-align: left;
		vertical-align: top;
	}
}

.table--style {
	tr {
		&:first-child {
			td {
				font-weight: bold;
			}
		}
	}
	th {
		background: linear-gradient(
			180deg,
			rgb(219, 255, 0) 0%,
			rgb(180, 197, 0) 100%
		);
		color: rgb(3, 10, 10);
	}
}

footer {
	padding: 24px 0 54px;
	position: relative;
}

.footer__top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 1px solid #585c834d;
	margin-bottom: 40px;
	padding: 30px 0 40px;
}

.footer__top__left {
	.logo {
		margin-bottom: 33px;
	}
}

.footer__top__list {
	p {
		color: #e3e0e3;
		margin-bottom: 8px;
		font-weight: 600;
		font-size: 14px;
	}
	ul {
		display: flex;
		gap: 8px;
		li {
			border-radius: 50%;
			height: 32px;
			width: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #503535;
			svg {
				width: 20px;
			}
		}
	}
}

.footer__left__title {
	margin-top: 30px;
	color: #e3e0e3;
	font-size: 18px;
	font-weight: 500;
}

.footer__menu {
	grid-gap: 14px;
	align-items: start;
	display: grid;
	flex: 0 0 55%;
	grid-auto-flow: column;
	grid-template-rows: repeat(4, auto);
	--rowsCount: 4;
	--colsCount: 4;
	font-weight: 600;
	color: #a19393;
	font-size: 12px;
}

.footer__top__right {
	div {
		&:nth-child(1) {
			color: #f2eff2;
			font-weight: 600;
			font-size: 18px;
			p {
				&:nth-child(2) {
					color: #bcb2bb;
					font-weight: 500;
					font-size: 14px;
				}
			}
		}
		&:nth-child(2) {
			margin-top: 18px;
			display: flex;
			gap: 8px;
			font-weight: 600;
			font-size: 16px;
			svg {
				width: 18px;
				path {
					fill: #ffd780;
				}
			}
		}
	}
}

.footer-row {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 24px;
	div {
		display: flex;
		align-items: center;
		position: relative;
		&:nth-child(1) {
			background: #432727;
			overflow: hidden;
			border-radius: 4px;
			height: 32px;
			font-weight: 700;
			font-size: 12px;
			gap: 4px;
			padding: 0 8px 0 0;
			img {
				width: 28px;
				aspect-ratio: 1/1;
			}
			&:before {
				background: #1a799f;
				content: "";
				filter: blur(30px);
				height: 45px;
				left: -15px;
				opacity: 1;
				position: absolute;
				top: -15px;
				width: 45px;
			}
		}
		&:nth-child(2) {
			gap: 16px;
		}
		&:nth-child(3) {
			gap: 4px;
			height: 32px;
			background: #503535;
			border-radius: 16px;
			padding: 0 12px;
			font-weight: 600;
			font-size: 12px;
		}
	}
}

.footer-disclaimer {
	margin-top: 34px;
	color: #796464;
	font-size: 12px;

	p {
		&:nth-child(2) {
			margin-top: 68px;
			color: #aea2a2;
			font-size: 14px;
		}
	}
}

.suport {
	position: fixed;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0 4px 12px #0000004d;
	width: 60px;
	aspect-ratio: 1/1;
	bottom: 16px;
	right: 0px;
	background: #503535;
	svg {
		width: 32px;
		path {
			fill: #fff;
		}
	}
}

.burger {
	display: none;
}

.mobile-menu,
.mobile-header {
	display: none;
}

@media (max-width: 1279px) {
	.sidebar {
		display: none;
	}
	.wrap {
		padding-left: 0px;
	}
	.top__list {
		overflow-x: auto;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.logo {
		aspect-ratio: 78/41;
		width: 78px;
	}
	.top__list {
		justify-content: flex-start;
	}
	.burger {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		aspect-ratio: 1/1;

		svg {
			width: 100%;
			path {
				fill: #a3a5ba;
			}
		}
	}
	.banner {
		padding: 300px 0 102px;
	}
	.header__left {
		gap: 8px;
	}
	.header__left__menu {
		display: none;
	}
	.header__right div:nth-child(2) {
		display: none;
	}
	.header__right div:nth-child(1) {
		position: fixed;
		bottom: 16px;
		right: 16px;
		z-index: 9;
	}
	.suport {
		right: 16px;
		bottom: 60px;
		width: 48px;
	}
	.suport svg {
		width: 26px;
	}
	.footer__top {
		flex-direction: column;
	}
	.footer__top__left .logo {
		display: none;
	}
	.footer__menu {
		width: 100%;
		margin-top: 30px;
	}
	.footer__top__right {
		margin-top: 30px;
	}
	.footer-row {
		justify-content: flex-start;
	}
	.top__cards {
		display: flex;
		width: calc(100% + 16px);
		padding-right: 16px;
		overflow-x: auto;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.top__card {
		width: 100%;
		min-width: 100%;
	}
	.top__dots {
		display: none;
	}
	.cards__list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 767px) {
	.content__item ol,
	.content__item ul {
		padding-left: 30px;
	}

	.content__table th,
	.content__table td {
		padding: 8px;
	}
	header {
		height: 54px;
	}
	.header__right {
		gap: 4px;
	}

	.banner {
		padding: 80vw 0 70px;
	}
	.banner__content p:nth-child(1) {
		font-size: 14px;
	}
	.banner__content p:nth-child(2) {
		font-size: 50px;
	}
	.banner__content p:nth-child(3) {
		margin-bottom: 17px;
		font-size: 18px;
	}
	.banner__content a {
		font-size: 10px;
		padding: 8px 53px;
	}
	.banner__content a span:nth-child(1) {
		font-size: 18px;
	}
	.banner__img img {
		height: auto;
	}
	.welcomepack {
		background: #2e1a1a;
	}
	.top__list {
		gap: 18px;
		position: relative;
		margin-top: 10px;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 30px;
			background: linear-gradient(
				-90deg,
				rgba(6, 14, 43, 0) 0%,
				transparent 1.88%,
				#111217 100%,
				rgba(6, 14, 43, 0) 100%
			);
			pointer-events: none;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 30px;
			background: linear-gradient(
				90deg,
				rgba(6, 14, 43, 0) 0%,
				transparent 1.88%,
				#111217 100%,
				rgba(6, 14, 43, 0) 100%
			);
			pointer-events: none;
		}
	}
	.top__list img {
		width: 72px;
		height: 48px;
	}
	.cards__title {
		font-size: 24px;
	}
	.cards {
		gap: 16px;
		padding-top: 16px;
	}
	.cards__list {
		display: flex;
		gap: 8px;
		width: calc(100% + 16px);
		padding-right: 16px;
		overflow-x: auto;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.cards__item {
		width: 35vw;
		min-width: 35vw;
	}
	.content__table {
		width: calc(100% + 16px);
		padding-right: 16px;
		overflow-x: auto;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.footer__menu {
		--rowsCount: 8;
		--colsCount: 2;
		flex: 0 0 100%;
		grid-template-rows: repeat(8, auto);
	}
	.footer-row {
		flex-wrap: wrap;
	}
	.footer-row div:nth-child(1) {
		width: 100%;
	}
	.mobile-header {
		display: block;
		margin-top: 6px;
		.mobile-header__row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
		}
		.header__left__menu {
			display: flex;
			width: 100%;
			height: 32px;
			background: #292626;
			border-radius: 16px;
		}
		.header__left__menu li {
			width: 50%;
			justify-content: center;
			height: 100%;
			font-size: 12px;
			font-weight: 600;
			display: flex;
			align-items: center;
			gap: 4px;
			padding: 0 12px 0 8px;
		}
		.header__left__menu li:nth-child(1) {
			border-radius: 16px;
			background: #503535;
			color: #ffffff;
		}
		.mobile-search {
			width: 32px;
			height: 32px;
			min-width: 32px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #503535;
		}
	}
	.mobile-menu {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(5, 1fr);
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 9;
		height: 55px;
		background-color: #2e1a1a;
		border-radius: 16px 16px 0 0;
	}
	.mobile-menu div {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2px;
		font-size: 10px;
		font-weight: 600;
		color: #948282;
	}
	.mobile-menu div:nth-child(3) span:nth-child(1) {
		box-shadow: 0 0 0 0 #ffd780, 0 2px 7px -1px #ffd780;
		border-radius: 50%;
		background: #ffd780;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 44px;
		margin-top: -20px;
		width: 44px;
	}
	.mobile-menu div:nth-child(3) span:nth-child(1) svg path {
		fill: #0b0b0f;
	}
	.mobile-menu div svg {
		width: 24px;
	}
	.mobile-menu div:nth-child(3) span:nth-child(1) svg {
		width: 20px;
	}
	.mobile-menu div:nth-child(1) svg path {
		fill: #ffd780;
	}
	.mobile-menu div:nth-child(1) {
		color: #ffd780;
	}
	.cards__top__arrows {
		display: none;
	}
	.cards__top__nav p {
		border-radius: 0;
		box-shadow: none;
		min-width: max-content;
		padding: 0;
		color: #aebef3;
	}
	.cards__top__nav p span:last-child {
		display: none;
	}
	.cards__top__title {
		font-size: 16px;
	}
	.top__card__info p:nth-child(1) {
		border-radius: 4px;

		font-size: 10px;

		padding: 2px 4px;
	}
	.top__card__info p:nth-child(2) span:nth-child(2) {
		font-size: 12px;
	}
	.top__card__info a {
		padding: 6px 12px;
	}
	.header__right div:nth-child(1) {
		bottom: 70px;
	}
	.suport {
		bottom: 110px;
	}
	footer {
		padding: 24px 0 74px;
	}
}

@media (max-width: 374px) {
	.logo {
		width: 60px;
	}
	.header__right div:nth-child(3) {
		padding: 0 10px;
	}
	.header__left {
		gap: 2px;
	}
	.mobile-header .header__left__menu li {
		font-size: 10px;
	}
}
